!!!
%html
  %head
    %link{href: "compiled/stylesheets/css_social_cards.css", rel: "stylesheet", media: "all", type: "text/css"}
  %body
    %input#phone_booth{type: "checkbox", checked: false}
    %footer
      %label{for: "phone_booth"}
        %img#phone{src: "images/css_social_cards/phone_me.png"}
      %a.card-container{"href" => "https://plus.google.com/118199660824222192692"}
        %div.card
          %div.face
            %img{src: "images/css_social_cards/google.png"}
          %div.face.back
            %img{src: "images/css_social_cards/google_hover.png"}
      %a.card-container{"href" => "http://twitter.com/musikanimal"}
        %div.card
          %div.face
            %img{src: "images/css_social_cards/twitter.png"}
          %div.face.back
            %img{src: "images/css_social_cards/twitter_hover.png"}
      %a.card-container{"href" => "http://last.fm/user/archfiend997"}
        %div.card
          %div.face
            %img{src: "images/css_social_cards/lastfm.png"}
          %div.face.back
            %img{src: "images/css_social_cards/lastfm_hover.png"}
      %a.card-container{"href" => "http://linkedin.com/in/MusikAnimal"}
        %div.card
          %div.face
            %img{src: "images/css_social_cards/linkedin.png"}
          %div.face.back
            %img{src: "images/css_social_cards/linkedin_hover.png"}
      %a.card-container{"href" => "http://github.com/MusikAnimal"}
        %div.card
          %div.face
            %img{src: "images/css_social_cards/github.png"}
          %div.face.back
            %img{src: "images/css_social_cards/github_hover.png"}
      %a.card-container{"href" => "http://developer.mozilla.org/en-US/profiles/MusikAnimal"}
        %div.card
          %div.face
            %img{src: "images/css_social_cards/mdn2.png"}
          %div.face.back
            %img{src: "images/css_social_cards/mdn_hover3.png"}
      %a.card-container{"href" => "http://stackoverflow.com/users/604142/musikanimal"}
        %div.card
          %div.face
            %img{src: "images/css_social_cards/stackoverflow.png"}
          %div.face.back
            %img{src: "images/css_social_cards/stackoverflow_hover.png"}
      %a.card-container{"href" => "http://en.wikipedia.org/wiki/User:MusikAnimal"}
        %div.card
          %div.face
            %img{src: "images/css_social_cards/wikipedia.png"}
          %div.face.back
            %img{src: "images/css_social_cards/wikipedia_hover.png"}
      %a.card-container{"href" => ""}
        %div.card
          %div.face
            %img{src: "images/css_social_cards/rss.png"}
          %div.face.back
            %img{src: "images/css_social_cards/rss_hover.png"}
      %span.force